* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100vh;
}

#root {
  display: grid;
  place-content: center;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

button {
  cursor: pointer;
}

p {
  display: inline-block;
}
